body {
    background-color: #1e335c;
}

.oddAbout {
    background-color: lightblue;
    overflow:auto;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.oddAbout p{
    font-size: larger;
    word-wrap: break-word;
    text-align: left;
}

.oddAbout img {
    width: 250px;
    height: auto;
    float: right;
}


.evenAbout {
    background-color: rgb(251, 195, 91);
    overflow:auto;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.evenAbout img{
    width: 250px;
    height: auto;
    float: left;
}
.evenAbout p{
    font-size: larger;
    word-wrap: break-word;
    text-align: left;
}
