body {
    background-color: #1e335c;
}

h2 {
    text-align: center;
    font-size: xx-large;
    color: #fff;
}

.oddAbout {
    background-color: lightblue;
    overflow:auto;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.oddAbout p{
    font-size: larger;
    word-wrap: break-word;
    text-align: left;
    padding-left: 10px;
}

.oddAbout img {
    width: 250px;
    height: auto;
    float: right;
}


.evenAbout {
    background-color: rgb(251, 195, 91);
    overflow:auto;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.evenAbout img{
    width: 250px;
    height: auto;
    float: left;
}
.evenAbout p{
    font-size: larger;
    word-wrap: break-word;
    text-align: left;
    padding-left: 10px;
}

img {
    display: inline;
}

Button {
    margin-right: 5%;
    width: 150px;
    background-color: #2d4473;
    border-color: #2d4473;
    border-radius: 5px;
    color: #fff;
}

.Homeb {
    margin-left: 33%;
    margin-top: 10%;
}

.templateTitle {
    text-align: left;
    padding-right: 10px;
    color: #fff;
    display: inline;
    padding-top: 5%;
}