main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

body {
    background-color: #1e335c;
}


a {
    text-decoration: none;
    margin-right: 5%;
    width: 150px;
    background-color: #2d4473;
    border-color: #2d4473;
    border-radius: 5px;
    color: #fff;
}

h1 {
    display: inline-flex;
    position:absolute;
    margin-top: 2%;
    color:#fff;
}

h3 {
    color:#fff;
}

img {
    display: inline;
}

div {
    display: inline-flex;
    position: absolute;
    margin-left: 29%;
    margin-top: 2.5%;
}


#form_submit {
    margin-top: 1%;
    margin-left: 45.1%;
    width: 150px;
}

#form_rows {
    position: static;
    margin-top: 1%;
    margin-left: 43%;
    border-radius: 5px;
}

#form_colors {
    position:static;
    margin-top: 1%;
    margin-left: 42.55%;
    border-radius: 5px;
}

button {
    margin-right: 5%;
    width: 150px;
    background-color: #2d4473;
    border-color: #2d4473;
    border-radius: 5px;
    color: #fff;
}

