main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #1e335c;
}


a {
    text-decoration: none;
    color: #fff;
}

#rows {
    border-radius: 5px;
    margin-left: 43%;
    text-align: center;
}

#colors {
    margin-top: 1%;
    margin-left: 43%;
    border-radius: 5px;
    text-align: center;
}

#submit {
    margin-left: 43%;
    width: 150px;
}

h1 {
    display: inline-flex;
    color:#fff;
}

h3 {
    color:#fff;
}

img {
    display:flex;
}

button {
    margin-right: 5%;
    width: 150px;
    background-color: #2d4473;
    border-color: #2d4473;
    border-radius: 5px;
    color:#fff;
}

