
h4 {
  color:#fff;
  margin-bottom: 2%;
  background-color: #1e335c;
}


/*The first (upper) table is a 2 column by x row table, where x is the number of colors indicated by
 the parameter.  The left column is 20% of the table width and the right column is 80%.  The table
  spans most of the width of the page.  There is no header row on this table.*/
.tableOne{
  border-collapse: collapse;
  border: 1px solid #fff;
  }
  .tableOne td {
    border: 1px solid #fff;
    width: 100px;
    height: 100px;
    padding: 10px;
  }
  .tableOne td:first-child {
    width: 20%; /* set the width of the first column to 20% */
    font-weight: bold;
    padding: 10px;
    
  }
  .tableOne td:last-child {
    width: 80%; /* set the width of the last column to 80% */
    padding: 10px;
    
  }

.colorEditor {
  position: absolute;
  left: 40%;
  top: 51%;
  width: 40%;
  height: 20%;
  background-color: #1e335c;
}

#addColorDiv {
  background-color: #1e335c;
  position: absolute;
  width: 25%;
  border-radius: 5px;
}

#removeColorDiv {
  background-color: #1e335c;
  position: absolute;
  left: 50%;
  width: 20%;
  border-radius: 5px;
}

#changeColorDiv {
  background-color: #1e335c;
  position: absolute;
  left: 100%;
  width: 25%;
  border-radius: 5px;
}

#Name {
  display: block;
  margin-top: 5%;
  margin-bottom: 10%;
}

#Hex {
  display: block;
  margin-bottom: 5%;
}

.addName {
  margin-bottom: 15%;
}

.newName {
  margin-bottom: 10%;
}

.changeColorDD {
  margin-bottom: 10%;
}

.removeColorDD {
  margin-top: 10%;
}

#removeColorh4 {
  margin-right: 15%;
  width: 150px;
  background-color: #2d4473;
  border-color: #2d4473;
  color:#fff;
}

.changeColorh4 {
  width: 150px;
  background-color: #1e335c;
  border-color: #1e335c;
  color:#fff;
}


/*The upper-leftmost cell is empty.  The remaining cells across the top are lettered with capital letters
 in alphabetical order starting with "A" and going to "Z" (using "Z" for the max size of 26).  The cells in
  the leftmost column are numbered starting in the second row with "1" and numbering each row consecutively.*/
.tableTwo{
    border-collapse: collapse;
    margin: 20px auto;
  }
  .tableTwo td {
    border: 1px solid #fff;
    width: 100px;
    height: 100px;
    padding: 10px;
  }
  .tableTwo tr:first-child {
    width: 100px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
  }
  .tableTwo td:first-child td:first-child {
    font-weight: bold;
    color: #fff;
  }
  .tableTwo td:first-child:not(:first-child){
    text-align: center;
    color: #fff;
  }
  .table2 tr:not(:first-child) td:first-child {
    text-align: center; 
    background-color: lightgray; 
  }


  main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

body {
    background-color: #1e335c;
}


a {
    text-decoration: none;
    color: #fff;
}

#rows {
    border-radius: 5px;
    margin-left: 43%;
    text-align: center;
    color: #fff;
}

#submit {
    margin-left: 43%;
    width: 150px;
}

h1 {
    display: inline-flex;
    color:#fff;
}

#sameColorError {
  color: red;
}

h3 {
    color:#fff;
    margin-bottom: 3%;
    margin-top: 3%;
}

p {
  color: #000;
}

img {
    display: flex;
}


button {
    margin-right: 5%;
    width: 150px;
    background-color: #2d4473;
    border-color: #2d4473;
    border-radius: 5px;
    color:#fff;
}
